name: SIT_Runner
run-name: ${{ github.actor }} had push new changes
on: [ push ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: browser-actions/setup-chrome@latest
      - run: chrome --version
      - uses: actions/setup-java@v1
          with:
            java-version: 1.8
      - run: mvn clean test -Psystem-tests
